{%- comment -%}
  Footer Section
  Logo, tagline, social links, and copyright
{%- endcomment -%}

{%- assign footer_menu = linklists[section.settings.menu] -%}

<footer>
    <p>© PAY THE DØLLS™</p>
    <p>Like Amazon, But For DØLLs</p>
    <p>A STuDiØ ZØ Project · Powered by Verse Capital</p>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer menu",
      "default": "footer"
    }
  ],
  "presets": []
}
{% endschema %}

